<div class="container">
  <div class="row">
    <h4>会員一覧</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">会員ID</th>
          <th scope="col">氏名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <th scope="row"><%= customer.id %></th>
            <td><%= link_to customer.name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_active  %>
                <div class="text-success">有効</div>
              <% else %>
                <div class="text-muted">退会</div>
              <% end %>
            </td>
          </tr>
        <% end %>
        <td><%= paginate @customers %></td
      </tbody>
  </div>
</div>


